#contactButton {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
    z-index: 9999
}

#firstDiv {
    height: 100vh;
}

#firstDiv .row {
    height: 50vh;
    margin: 0;
    padding: 0
}

.col > button {
    max-width: 30%;
}

form {
    max-width: 400px;
}

input[type='submit'] {
    width: 100%;
}

textarea {
    max-height: 200px;
}